body {
  font-family: 'Roboto Slab', 'Georgia', 'Times New Roman';
}

.main-div {
  background-color: #34495E;
  padding:0 20px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.list-inline li {
  display: inline;
  
}

.list-inline li + li {
  margin-left: 20px;
}

a {
  align-content: center;
  text-decoration: none;
  color:#E5E7E9;
  padding: 10px;
}

a:hover{
  color: #E5E7E9;
}

.hvr-fade:hover {
background-color: #566573;
}

.photo-div {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 500px;
  background-image: url('b-g.jpg');
  opacity: 0.4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} 
#spn-1{
  color: black;
  font-size: 70px;
  font-weight: bold;
  font-family: 'Roboto slab';
}

#spn-2{
  color: blue; 
  font-size: 70px;
  font-weight: bold;
  font-family: 'Roboto slab';
}

.nav-item {
  position: relative;
}

#vaud .sub-menu-list {
  position: absolute;
  top: 35px;
  left: 4px;
  width: 105px;
  padding: 5px 5px;
  display: none;
  background: #34495E;
  z-index: 1;
}

#vaud .nav-item:hover .sub-menu-list {
  display: block; 
}
::selection {
  background-color: skyblue;
}